* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    height: 100vh;
}
// default styles for blocks
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.header{
    font-size: 2.2rem;
    padding: 10px 0;
}
// block styles
.web-storage{
    padding: 30px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.storage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    padding: 15px;
    box-shadow: 0 0 5px gray;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.select-data-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// element styles
.storage__button{
    margin: 10px 0;
}
.storage__image{
    max-height: 150px;
    margin: 5px;
}
.storage__text{
    width: 40%;
    padding: 15px;
    text-align: justify;
}
// modifier styles
.storage__header_gray{
    color: gray;
}
